body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
    color: #a73501;
    padding-bottom: 70px;
}

header {
    background: #000000;
    color: #a73501;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header h1 {
    flex: 1;
    font-size: 22px;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

header h2 {
    flex: 1;
    font-size: 22px;
    margin: 0;
    text-align: center;
    font-weight: bold;
}
.menu-icon {
    font-size: 20px;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    margin: 15px;
    background: white;
    border-radius: 20px;
    padding: 8px 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.camisapalmeiras {  
    background: rgb(0, 0, 0); 
    color: #a73501;
    margin: 10px 15px; 
    padding: 12px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.camisavasco {  
    background: rgb(0, 0, 0); 
    color: #a73501;
    margin: 10px 15px; 
    padding: 12px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.camisacruzeiro {  
    background: rgb(0, 0, 0); 
    color: #a73501;
    margin: 10px 15px; 
    padding: 12px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.camisasaopaulo {  
    background: rgb(0, 0, 0); 
    color: #a73501;
    margin: 10px 15px; 
    padding: 12px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0 15px;
}

.grid img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    justify-self: center;
}

footer {
    background: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;}

footer f1 {
    flex: 1;
    font-size: 15px;
    margin: 0;
    margin-top: 15px;
    text-align: center;
    font-weight: lighter;

}
